<div FxFlex fxLayout="column" fxLayoutAlign="center center">
    <div class="form_container">
        <div class="form_content_container">
                <div class="employee_details_container" fxLayoutAlign="space-around" fxLayoutGap="20px" fxLayout>
                    <div>Full Name: {{currentEmployee.Full_Name}}</div>
                    <div>Subdivision: {{currentEmployee.Subdivision}}</div>
                    <div>Position: {{currentEmployee.Position}}</div>
                </div>
            <form [formGroup]="leaveRequestForm" (ngSubmit)="submitLeaveRequestForm()" fxLayout="column">
                <div fxLayoutGap="20px">
                    <mat-form-field class="date_input">
                        <mat-label for="date">
                            Start Date
                        </mat-label>
                        <input formControlName="Start_Date" matInput [matDatepicker]="startDatePicker">
                        <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="date_input">
                        <mat-label for="date">
                            End Date
                        </mat-label>                        
                        <input formControlName="End_Date" matInput [matDatepicker]="endDatePicker">
                        <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Absence Reason</mat-label>
                        <input matInput formControlName="Absence_Reason">
                    </mat-form-field>
                </div>
                <mat-form-field>
                    <mat-label>Comment</mat-label>
                    <textarea matInput formControlName="Comment"></textarea>
                </mat-form-field>
                <button [disabled]="leaveRequestForm.invalid" mat-flat-button type="submit">Submit request</button>
            </form>
    </div>
    <p class="submission_confirmation" *ngIf="submissionText">{{submissionText}}</p>
</div>