<mat-toolbar background="primary" fxFlex fxLayoutAlign="center center">
    <div fxFlex="95%" fxLayoutAlign="space-between center">

        <span class="logo">
            Hr App
        </span>

        <ul fxLayout fxLayoutGap="30px" *ngIf="activeUser" fxHide.lt-md>
            <li *ngIf="activeUser?.Position === 'HR Manager' || activeUser?.Position === 'HR Director'">
                <a (click)="navigate('employee-list')">Employee List</a>
            </li>

            <li *ngIf="activeUser?.Position !== 'HR Manager' && activeUser?.Position !== 'HR Director'">
                <a (click)="navigate('leave-request')">Leave Requests</a>
            </li>

            <li *ngIf="activeUser?.Position === 'HR Manager' || activeUser?.Position === 'HR Director'">
                <a (click)="navigate('leave-request-list')">Leave Request List</a>
            </li>

            <li>
                <a (click)="navigate('projects')">Projects</a>
            </li>

            <li>
                <a (click)="logout()">Logout</a>
            </li>
        </ul>

        <button mat-icon-button [matMenuTriggerFor]="menu" fxHide.gt-sm *ngIf="activeUser">
            <mat-icon>
                menu
            </mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button (click)="navigate('employee-list')" mat-menu-item *ngIf="activeUser?.Position === 'HR Manager' || activeUser?.Position === 'HR Director'">
                <a>Employee List</a>
                <mat-icon>groups</mat-icon>
            </button>
            <button (click)="navigate('leave-request')" mat-menu-item *ngIf="activeUser?.Position !== 'HR Manager' && activeUser?.Position === 'HR Director'">
                <a>Leave Requests</a>
                <mat-icon>waving_hand</mat-icon>
            </button>
            <button (click)="navigate('leave-request-list')" mat-menu-item *ngIf="activeUser?.Position === 'HR Manager' || activeUser?.Position === 'HR Director'">
                <a>Leave Request List</a>
                <mat-icon>format_list_bulleted</mat-icon>
            </button>
            <button (click)="navigate('projects')" mat-menu-item>
                <a>Projects</a>
                <mat-icon>diversity_3</mat-icon>
            </button>
            <button (click)="logout()" mat-menu-item>
                <a>logout</a>
                <mat-icon>logout</mat-icon>
            </button>
        </mat-menu>

    </div>
</mat-toolbar>