.form {
    padding: 30px;
    background-color: #fafafa;
}

.submit_button {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 15px 0px rgba(66, 68, 90, 1);
}

.close_button {
    margin-top: 10px;
}

.added_project_text {
    margin: 0 0 10px 0;
    color: #008000;
    text-align: center;
}

