.form_container {
    background-color: gray;
    border-radius: 20px;
}
.form_content_container {
    padding: 20px;
}

.form_title {
    margin-bottom: 10px;
    color: white;
}

.date_input {
    width: 212px;
}