<div class="container">
    <mat-card class="content_container" fxFlex fxLayoutAlign="start center" fxLayout="column">
        <form [formGroup]="editEmployeeForm" fxLayout="column" (ngSubmit)="submitChanges()">
            <mat-form-field>
                <mat-label>Full Name</mat-label>
                <input matInput formControlName="Full_Name">
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Subdivision</mat-label>
                <mat-select formControlName="Subdivision">
                    <mat-option [value]="subdivision" *ngFor="let subdivision of subdivisions">
                        {{subdivision}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Position</mat-label>
                <mat-select formControlName="Position">
                    <mat-option [value]="position" *ngFor="let position of positions">
                        {{position}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Partner</mat-label>
                <mat-select formControlName="People_Partner">
                    <mat-option [value]="id" *ngFor="let id of partnersIds">
                        {{id}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>OOF</mat-label>
                <input matInput type="number" formControlName="Out_of_Office_Balance">
            </mat-form-field>
            <button class="button_submit" [disabled]="editEmployeeForm.invalid" mat-flat-button color="accent" type="submit">Submit changes</button>
            <button mat-dialog-close mat-flat-button color="warn">Close</button>
        </form>
    </mat-card>
</div>
