.filter_input {
    width: 300px;
}

.table_container {
    border: 1px solid black;
}

.paginator {
    border-top: 1px solid black;
}

.button_add_employee {
    margin-bottom: 20px;
    height: 56px;
}

.mat-mdc-unelevated-button>.mat-icon {
    margin-right: 0px;
    margin-left: 0px;
}
