p {
    margin: 0;
}

mat-card {
    padding: 20px 20px 0 20px;
    height: 320px;
    background-color: #fafafa;
}

.button {
    margin: 0 0 10px 20px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 15px 0px rgba(66, 68, 90, 1);
}

div {
    margin-top: 5px;
}

.full_name_container {
    margin-top: 10px;
}

form {
    margin-top: 10px;
}