.details_container {
    padding: 0 20px 0 20px;
}

.button_container {
    margin: 10px 0 10px 0;
}

mat-form-field {
    width: 250px;
}

.project_comment {
    width: 520px;
}
form{
    height: 300px;
}